h1 { font-family: "gt-walsheim", arial, helvetica, sans-serif;
     font-size: 30px;
     font-weight: 900;
}

h2 { font-family: "gt-walsheim", arial, helvetica, sans-serif;
     font-size: 20px;
     font-weight: 700;
}

label { font-family: "gt-walsheim", arial, helvetica, sans-serif;
     font-size: 16px;
     font-weight: 500;
}